<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Categories</title>
</head>

<body>
    <h1>Categories</h1>
    <ul>
        {{#each categories}}
        <li>
            <a href="/category/{{this.name}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</body>

</html>