{{#*inline "title"}} {{category.name}} {{/inline}} {{#*inline "name"}}
<h1>{{category.name}}</h1>
<a href="/category/{{category.name}}?edit=true">Edit</a>
{{/inline}} {{#*inline "content"}}
<div class="prose">{{category.description}}</div>
{{/inline}} {{~> wrapper}}