{{#*inline "title"}} Categories {{/inline}} {{#*inline "name"}}
<h1>Categories</h1>
<a href="/category?edit=true">New Category</a>
{{/inline}} {{#*inline "content"}}
<ul>
    {{#each categories}}
    <li>
        <a href="/category/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
{{/inline}} {{~> wrapper}}