<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Category: {{category.name}}</title>
</head>

<body>
    <h1>Category: {{category.name}}</h1>
    {{category.description}}
</body>

</html>