{{#*inline "title"}} {{component.name}} {{/inline}} {{#*inline "name"}}
<h1>Component: {{component.name}}</h1>
<a href="/component/{{component.name}}?edit=true">Edit</a>
{{/inline}} {{#*inline "content"}}
<div class="prose">
    {{component.description}}
</div>
{{/inline}} {{~> wrapper}}