<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Components</title>
</head>

<body>
    <h1>Components</h1>
    <div>
        <a href="/">Index</a>
    </div>
    <ul>
        {{#each components}}
        <li>
            <a href="/component/{{this.name}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</body>

</html>