{{#*inline "title"}} Components {{/inline}} {{#*inline "name"}}
<h1>Components</h1>
<a href="/component?edit=true">New Component</a>
{{/inline}} {{#*inline "content"}}
<ul>
    {{#each components}}
    <li>
        <a href="/component/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
{{/inline}} {{~> wrapper}}