<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Merlin</title>
</head>

<body>
    <h1>Merlin v0.0.1</h1>
    <ul>
        <li>
            <a href="/pages">Pages</a>
        </li>
        <li>
            <a href="/components">Components</a>
        </li>
        <li>
            <a href="/categories">Categories</a>
        </li>
    </ul>
</body>

</html>