{{#*inline "title"}} Legends {{/inline}} {{#*inline "header"}}
<h1>Legends v0.0.2</h1>
{{/inline}} {{#*inline "content"}}
<div id="main">
    <ul>
        <li>
            <a href="/pages">Pages</a>
        </li>
        <li>
            <a href="/components">Components</a>
        </li>
        <li>
            <a href="/categories">Categories</a>
        </li>
        <li>
            <a href="/spells">Spells</a>
        </li>
    </ul>
</div>
{{/inline}} {{~> wrapper}}