{{#*inline "title"}} Pages {{/inline}} {{#*inline "name"}}
<h1>Pages</h1>
<a href="/page?edit=true">New Page</a>
{{/inline}} {{#*inline "content"}}
<ul>
    {{#each pages}}
    <li>
        <a href="/page/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
{{/inline}} {{~> wrapper}}