{{#*inline "title"}} Page: {{page.name}} {{/inline}} {{#*inline "name"}}
<h1>{{page.name}}</h1>
<a href="/page/{{page.name}}?edit=true">Edit</a>
{{/inline}} {{#*inline "content"}}
<div class="prose">{{page.text}}</div>
{{/inline}} {{~> wrapper}}