{{#*inline "title"}} Pages {{/inline}} {{#*inline "header"}}
<h1>Pages</h1>
<div>
    <a href="/">Index</a>
</div>
{{/inline}} {{#*inline "content"}}
<a href="/page?edit=true">New Page</a>
<div id="main">
    <ul>
        {{#each pages}}
        <li>
            <a href="/page/{{this.name}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</div>
{{/inline}} {{~> wrapper}}