<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Pages</title>
</head>

<body>
    <h1>Pages</h1>
    <div>
        <a href="/">Index</a>
    </div>
    <a href="/page?edit=true">New Page</a>
    <ul>
        {{#each pages}}
        <li>
            <a href="/page/{{this.name}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</body>

</html>