 {{#*inline "title"}} Spells {{/inline}} {{#*inline "name"}}
<h1>Spells</h1>
<a href="/spell?edit=true">New Spell</a>
{{/inline}} {{#*inline "content"}}
<ul>
    {{#each spells}}
    <li>
        <a href="/spell/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
{{/inline}} {{~> wrapper}}