 {{#*inline "title"}} Spells {{/inline}} {{#*inline "header"}}
<h1>Spells</h1>
<div>
    <a href="/">Index</a>
</div>
{{/inline}} {{#*inline "content"}}
<a href="/spell?edit=true">New Spell</a>
<div id="main">
    <ul>
        {{#each spells}}
        <li>
            <a href="/spell/{{this.name}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</div>
{{/inline}} {{~> wrapper}}