<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{~> title}}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #header {
            width: 100%;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid black;
        }

        #header a:link,
        #header a:visited {
            color: black;
            font-size: 200%;
            text-decoration: none;
            padding: 10px 5px 1px;
            margin: 0;
        }

        #header a:hover {
            background-color: #d7d7ec;
            border-bottom: 1px solid black;
        }

        #headersearch {
            display: inline-block;
            float: right;
        }

        #name h1 {
            display: inline-block;
        }

        #content {
            max-width: 1000px;
            padding: 1em;
        }

        #main {
            border-radius: 10px;
        }

        .prose {
            white-space: pre-wrap;
            font-family: sans-serif;
        }

        table {
            border-collapse: collapse;
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
            padding: 5px;
        }

        tr:nth-child(even) {
            background-color: #e7e7fc;
        }

        tr:hover {
            background-color: #d7d7ec;
        }
    </style>
</head>

<body>
    <div id="header">
        <a href="/pages">Pages</a>
        <a href="/spells">Spells</a>
        <a href="/categories">Categories</a>
        <a href="/components">Components</a>
        <form action="/search" method="get" id="headersearch">
            <input type="search" placeholder="Search" name="text"/>
        </form>
    </div>
    <div id="content">
        <div id="name">
            {{> name}}
        </div>
        <div id="main">
            {{~> content}}
        </div>
    </div>
</body>

</html>