<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{~> title}}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #header {
            width: 100%;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid black;
        }

        #header a:link,
        #header a:visited {
            color: black;
            font-size: 200%;
            text-decoration: none;
            padding: 10px 5px 1px;
            margin: 0;
        }

        #header a:hover {
            background-color: #bbb;
        }

        #name h1 {
            display: inline-block;
        }

        #content {
            max-width: 1000px;
            padding: 1em;
        }

        #main {
            border-radius: 10px;
        }

        .prose {
            white-space: pre-wrap;
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <div id="header">
        <a href="/pages">Pages</a>
        <a href="/spells">Spells</a>
        <a href="/categories">Categories</a>
        <a href="/components">Components</a>
    </div>
    <div id="content">
        <div id="name">
            {{> name}}
        </div>
        <div id="main">
            {{~> content}}
        </div>
    </div>
</body>

</html>